@model Desafio_E_commerce_Dashboard_Local.Models.Pedido

@{
    ViewData["Title"] = "Adicionar";
}

<h1>Adicionar Pedido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoID" class="control-label"></label>
                <select asp-for="ProdutoID" class ="form-control" asp-items="ViewBag.ProdutoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipeID" class="control-label"></label>
                <select asp-for="EquipeID" class ="form-control" asp-items="ViewBag.EquipeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" /> |
              <a  class="btn btn-primary" asp-controller="Produto" asp-action="Create">Adicionar produto</a>
               <a class="btn btn-primary" asp-controller="Equipe" asp-action="Create">Adicionar equipe</a>
           </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar Para Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
